<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false" class="nav navbar-nav pull-xs-right ">
      <li class="nav-item ">
        <a class="nav-link animation-scale" routerLink="/"> Home </a>
      </li>

      <li class="nav-item">
        <a class="nav-link animation-scale" routerLink="/login" routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link animation-scale" routerLink="/register" routerLinkActive="active">
          Sign up
        </a>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/editor" routerLinkActive="active">
          <img src="https://static.vecteezy.com/system/resources/previews/026/306/129/original/pencil-icon-pen-write-writing-stationery-edit-editor-business-office-school-black-white-sign-symbol-illustration-artwork-graphic-clipart-eps-vector.jpg" style="height: 25px; width: 25px;">&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">
          <img src="https://static-00.iconduck.com/assets.00/settings-icon-1964x2048-8nigtrtt.png" style="height: 25px; width: 25px;">&nbsp;Settings
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser$ | async as currentUser">
        <a
          class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active"
        >
          <img
            [src]="currentUser.image"
            *ngIf="currentUser.image"
            class="user-pic"
            
          />
          {{ currentUser.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>


  .animation-scale:hover {
    transform: scale(5);
  }
</style>