<div class="article-preview animation"  >
  <app-article-meta [article]="article">
    <app-favorite-button
      [article]="article"
      (toggle)="toggleFavorite($event)"
      class="pull-xs-right"
    >
      {{ article.favoritesCount }}
    </app-favorite-button>
  </app-article-meta>

  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li
        class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList"
      >
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
<style>

  .animation{
  position: relative;
  width: 200px; /* Ajustez la largeur selon vos besoins */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  border: 2px solid transparent;
  border-radius: 10px; /* Ajustez le rayon de la bordure selon vos besoins */
  box-shadow: 0 0 10px rgba(0, 255, 255, 1), 0 0 20px rgba(0, 255, 255, 1), 0 0 30px rgba(0, 255, 255, 1), 0 0 40px rgba(0, 255, 255, 1), 0 0 50px rgba(0, 255, 255, 1);
  animation: rotateNeon 4s linear infinite; /* Ajustez la durée de l'animation selon vos besoins */
}

@keyframes rotateNeon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>